.faq {

    .accordion {
        .card {
            background-color: transparent;
        }

        .btn {
            width: 100%;
            background: black;
            transition: $durationL;

            &:focus {
                text-decoration: none;
            }
        }

        .btn::after {
            content: '-';
            width: auto;
            height: auto;
            line-height: 0.6;
            top: 0;
            font-size: 60px;
            margin-left: 0.5rem;
            -webkit-transition: 400ms;
            transition: 400ms;
            background: transparent;
            position: absolute;
            right: 0.5rem;
            transition: $durationM;
            font-family: 'Kelson-Sans', sans-serif;
        }

        .btn.collapsed::after {
            content: '+';
            line-height: 0.7;
        }
    }
}