.faq {

    .accordion {
        .card {
            background-color: transparent;
        }

        .btn {
            width: 100%;
            background: black;
            transition: $durationL;
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-right: 3.5rem;

            &:focus {
                text-decoration: none;
            }

            svg {
                height: 24px;
                width: auto;
                transition: $durationM;
                position: absolute;
                right: 1rem;
            }

            .plus {
                opacity: 0;
            }

            .minus {
                opacity: 1;
            }
        }

        .btn::after {
            content: '';
            width: auto;
            height: auto;
            line-height: 0.6;
            top: 0;
            font-size: 60px;
            margin-left: 0.5rem;
            -webkit-transition: 400ms;
            transition: 400ms;
            background: transparent;
            position: absolute;
            right: 0.5rem;
            transition: $durationM;
            font-family: 'Kelson-Sans', sans-serif;
        }

        .btn.collapsed {
            .plus {
                opacity: 1;
            }

            .minus {
                opacity: 0;
            }
        }

    }
}