 @font-face {
     font-family: 'Anton';
     font-weight: 400;
     font-display: swap;
     src: url('../fonts/Anton-Regular.ttf');
 }

 @font-face {
     font-family: 'Kelson-Sans';
     font-weight: 700;
     font-display: swap;
     src: url('../fonts/Kelson\ Sans\ Bold.otf');
 }

 @font-face {
     font-family: 'Kelson-Sans';
     font-weight: 400;
     font-display: swap;
     src: url('../fonts/Kelson\ Sans\ Regular.otf');
 }

 $ptGrey:#747474;
 $ptRed:#e20a0a;
 $ptRed50:rgba(226, 10, 10, 0.5);
 $black88:rgba(0, 0, 0, .88);
 $black62:rgba(0, 0, 0, .62);
 $ptDarkGrey:#1a1a1a;
 $ptBlackWhite:linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);

 .font-grey {
     color: $ptGrey;

 }

 .fill-grey {
     fill: $ptGrey;
 }

 $fontSizeH1:3.85rem;
 $fontSizeH2: 2rem;
 $fontSizeH3: 1.625rem;
 $fontSizeBodyL: 1.25rem;
 $fontSizeBodyM: 1.125rem;
 $fontSizeBodyS: 1rem;
 $fontSizeBodyXS: 0.8rem;
 $fontSizeBodyXSS: 0.625rem;
 $fontSizeSmallest: 0.5rem;
 $spaceLetters:0.45px;

 .fontSizeH1 {
     font-size: $fontSizeH1;
 }

 .fontSizeH2 {
     font-size: $fontSizeH2;
 }

 .fontSizeH3 {
     font-size: $fontSizeH3;
 }

 .fontSizeBodyL {
     font-size: $fontSizeBodyL;
 }

 .fontSizeBodyM {
     font-size: $fontSizeBodyM !important;
 }

 .fontSizeBodyS {
     font-size: $fontSizeBodyS !important;
 }

 .fontSizeBodyXS {
     font-size: $fontSizeBodyXS !important;
 }

 .fontSizeBodyXSS {
     font-size: $fontSizeBodyXSS;
 }

 $bezierFastoutSlowin: cubic-bezier(0.4, 0.0, 0.2, 1);
 $cubicBezier:cubic-bezier(.91, .11, .19, .92);
 $durationXS: 200ms;
 $durationS: 300ms;
 $durationM: 400ms;
 $durationL: 600ms;
 $durationXL: 800ms;

 // .container-fluid {
 //     max-width: 1700px;
 // }


 h1,
 h2,
 h3,
 h4 {
     font-family: 'Anton', sans-serif;
 }

 .container-fluid {
     max-width: 1540px;
     padding-left: 30px;
     padding-right: 30px;
 }

 article {
     margin-left: auto;
     margin-right: auto;

     //  margin: 167px auto 0 auto;
     line-height: 1.7;
     color: rgba(255, 255, 255, 0.8);
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased !important;
     -moz-font-smoothing: antialiased !important;
     text-rendering: optimizelegibility !important;
     letter-spacing: .03rem;
     text-align: center;
     max-width: 650px;



     p {
         text-align: justify;
     }

     img {
         max-height: 50vh;
         max-width: 100%;
         margin: 0.25rem auto;
     }

 }


 .margin-100-top {
     margin-top: 6.5rem;
 }

 a {
     color: white;
     transition: $durationM;

     &:hover,
     &:focus,
     &:active {
         text-decoration: none;
         color: white;
     }

     &.hover-underline:hover {
         .standard-owl__heading {
             text-decoration: underline;
         }
     }
 }

 .main .btn {
     width: 113px;
     height: 44px;
     display: flex;
     align-items: center;
     background: $ptRed;
     color: white;
     border-radius: 0;
     position: relative;
     font-family: 'Anton', sans-serif;
     text-transform: uppercase;
     letter-spacing: 0.45px;
     transition: $durationM;

     &::after {
         height: 3px;
         width: 33px;
         background: white;
         content: '';
         margin-left: 0.5rem;
         transition: $durationM;
     }

     &:hover {
         color: white;


         &::after {
             width: 16.5px;
         }
     }

     &:focus {
         box-shadow: none;
     }

 }

 .owl-carousel {

     .owl-nav button.owl-prev,
     .owl-nav button.owl-next {
         top: 50%;
         transform: translateY(calc(-50% - 75px));
         padding: 0.75rem 0.45rem !important;
         display: flex;
         align-items: center;
         justify-content: center;
         left: -1rem;
         position: absolute;
         transition: $durationM;

         span {
             background-repeat: no-repeat;
             background-size: contain;
             background-position: center;
             background: url('../images/next.svg');
             transform: rotateZ(180deg);
             z-index: 1;
             position: relative;
             color: transparent;
             width: 32px;
             height: 32px;
             display: block;
         }

         &::before {
             content: '';
             background: black;
             width: 100%;
             height: 100%;
             top: 0;
             left: 0;
             z-index: -1;
             position: absolute;
         }

         &:focus {
             box-shadow: none;
             outline: none;
             border: none;
         }

         &:active {
             transform: translateY(calc(-50% - 75px)) scale(0.695);
         }
     }

     .owl-nav button.owl-next {
         left: initial;
         background: url('../images/next.svg');
         right: -1rem;

         span {
             transform: rotateZ(0);
         }

     }
 }

 .flex-basis-100 {
     flex-basis: 100%;
 }

 .columns-2 {
     columns: 2;
 }

 .data {

     &__author,
     &__category,
     &__comment {
         color: white;
         margin-right: 1rem;
         display: flex;
         align-items: center;
         font-size: $fontSizeBodyXS;

         span {
             margin-left: 0.25rem;
         }

         &:hover {
             span {
                 text-decoration: underline;
             }
         }
     }
 }

 .breadcrumb {
     align-items: center;
     margin: 1rem 0;
     padding: 2rem 0 0.5rem 0;
     background: transparent;
     font-family: 'Anton', sans-serif;
     letter-spacing: 0.65px;
     text-transform: uppercase;

     &-item {
         position: relative;

         a:hover {
             text-decoration: underline;
         }

         &.active {
             text-transform: none;
         }

     }

     .breadcrumb-item+.breadcrumb-item::before {
         display: inline-block;
         padding-right: .5rem;
         content: "";
         /* font-size: 1rem; */
         height: 3px;
         width: 13px;
         margin-right: 0.5rem;
         background: #747474;
         position: relative;
         transform: translateY(-6.5px);
     }

 }


 .page-link {
     width: 113px;
     height: 44px;
     display: flex;
     align-items: center;
     background: $ptRed;
     color: white;
     border-radius: 0;
     position: relative;
     font-family: 'Anton', sans-serif;
     text-transform: uppercase;
     letter-spacing: 0.45px;
     transition: $durationM;
     border-radius: 0 !important;
     border: none;
     outline: none;
     box-shadow: none;

     &::after {
         height: 3px;
         width: 33px;
         background: white;
         content: '';
         margin-left: 0.5rem;
         transition: $durationM;
     }

     &:hover {
         color: white;
         border: none;
         outline: none;
         box-shadow: none;
         background: $ptRed;

         &::after {
             width: 16.5px;
         }
     }

     &:focus {
         box-shadow: none;
         border: none;
         outline: none;
         box-shadow: none;

     }

 }



 .pagination {
     .page-item.active .page-link {
         background: transparent;
     }

     .page-link {
         background: transparent;
         color: $ptGrey;
         width: auto;

         &::before,
         &::after {
             content: none;
         }

         &:hover {
             color: white;
         }
     }

     &-container {
         .page-item.btn {
             width: 133px;

             &.disabled {
                 background: $ptGrey;
             }

             &.previous {
                 background: $ptGrey;
             }
         }
     }
 }

 .page-item.disabled .page-link {
     background: $ptGrey;
     color: white;
 }


 @media (max-width:992px) {
     .columns-2 {
         columns: 1;
     }
 }