@font-face {
  font-family: 'Anton';
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: 'Kelson-Sans';
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Kelson Sans Bold.otf");
}

@font-face {
  font-family: 'Kelson-Sans';
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Kelson Sans Regular.otf");
}

.font-grey {
  color: #747474;
}

.fontSizeH1 {
  font-size: 3.85rem;
}

.fontSizeH2 {
  font-size: 2rem;
}

.fontSizeH3 {
  font-size: 1.625rem;
}

.fontSizeBodyL {
  font-size: 1.25rem;
}

.fontSizeBodyM {
  font-size: 1.125rem !important;
}

.fontSizeBodyS {
  font-size: 1rem !important;
}

.fontSizeBodyXS {
  font-size: 0.8rem !important;
}

.fontSizeBodyXSS {
  font-size: 0.625rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Anton', sans-serif;
}

.container-fluid {
  max-width: 1540px;
  padding-left: 30px;
  padding-right: 30px;
}

.margin-100-top {
  margin-top: 6.5rem;
}

a {
  color: white;
  -webkit-transition: 400ms;
  transition: 400ms;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

a.hover-underline:hover .standard-owl__heading {
  text-decoration: underline;
}

.main .btn {
  width: 113px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e20a0a;
  color: white;
  border-radius: 0;
  position: relative;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.main .btn::after {
  height: 3px;
  width: 33px;
  background: white;
  content: '';
  margin-left: 0.5rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.main .btn:hover {
  color: white;
}

.main .btn:hover::after {
  width: 16.5px;
}

.main .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 75px));
          transform: translateY(calc(-50% - 75px));
  padding: 0.75rem 0.45rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -1rem;
  position: absolute;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background: url("../images/next.svg");
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  z-index: 1;
  position: relative;
  color: transparent;
  width: 32px;
  height: 32px;
  display: block;
}

.owl-carousel .owl-nav button.owl-prev::before,
.owl-carousel .owl-nav button.owl-next::before {
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

.owl-carousel .owl-nav button.owl-prev:active,
.owl-carousel .owl-nav button.owl-next:active {
  -webkit-transform: translateY(calc(-50% - 75px)) scale(0.695);
          transform: translateY(calc(-50% - 75px)) scale(0.695);
}

.owl-carousel .owl-nav button.owl-next {
  left: initial;
  background: url("../images/next.svg");
  right: -1rem;
}

.owl-carousel .owl-nav button.owl-next span {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

.columns-2 {
  -webkit-columns: 2;
          columns: 2;
}

.data__author, .data__category, .data__comment {
  color: white;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.data__author span, .data__category span, .data__comment span {
  margin-left: 0.25rem;
}

.data__author:hover span, .data__category:hover span, .data__comment:hover span {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .columns-2 {
    -webkit-columns: 1;
            columns: 1;
  }
}
/*# sourceMappingURL=predefinied.css.map */