@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('owl.carousel/dist/assets/owl.carousel.css');

@import 'predefinied.scss';

body {
    font-family: 'Kelson-Sans', sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
    // font-family: 'Anton', sans-serif;
}


.header {
    position: fixed;
    z-index: 1024;
    width: 100%;
    display: flex;
    top: 0;
    transition: 0.5s;
    font-family: 'Anton', sans-serif;
    background: black;
    color: white;

    .container-fluid {
        height: 135px;
        position: relative;
        background: transparent;
        border-radius: .0010px;
        transition: $durationM;

        &.scrolled {
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
            margin-top: 0.25rem;
            border-radius: 200px;
            background: white;
            padding: 0 0.75rem;


            .header__logo-container {
                margin-left: 1rem;
            }
        }
    }

    &__logo {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        z-index: 10;
        overflow: hidden;

        &-container {
            max-width: 100%;
            max-height: 100%;
            height: 100px;
            margin: 0;
            display: block;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 1rem 0;
        }
    }


    .nav-toggle {
        z-index: 1024;
        display: none;
        background: none;
        border: 0;
        outline: 0;
        height: 48px;
        align-items: center;

        background: white;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: $durationM;
        // box-shadow: 4px 4px 8px $neuShadow1,
        //     -4px -4px 8px $neuShadow2;


        &:active {
            transform: scale(0.9);
        }

        svg {
            // color: $pirateBlack;
            transition: $bezierFastoutSlowin 0.5s;
            top: 50%;
            left: 50%;
            position: absolute;
            width: 28px;
            height: 28px;
            z-index: 1;


            path {
                // fill: $spaceColor;
                transition: $bezierFastoutSlowin 0.5s;
            }
        }

        &__inner {
            position: relative;
        }

        &__icon--menu {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &__icon--close {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    .magic-line {
        position: absolute;
        bottom: -15px;
        left: 0;
        padding: 0;
        width: 86.75px;
        height: 90px;
        background: $ptRed;
        transition: $durationM;
        opacity: 1;
        z-index: -1;
    }

    .button-icon-only {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &__nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__search {
        &-input {
            border: none;
            background: transparent;
            color: white;

            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                color: white;
                text-transform: uppercase;
            }

        }


        &-form {
            display: inline-flex;
            align-items: center;
            padding: 0.5rem 0;
        }
    }

    &__nav-list {
        display: flex;
    }

    &__nav-link {
        color: white;
        align-self: center;
        font-size: $fontSizeBodyL;
        text-decoration: none;
        position: relative;
        transition: color $durationS ease .1s;
        line-height: 1;
        border-radius: 0;
        letter-spacing: $spaceLetters;
        transition: $bezierFastoutSlowin 0.36s;
        text-transform: uppercase;

        &:active,
        &:hover {
            text-decoration: none;
            color: white;

            &:before {
                width: 100%;
            }
        }

        &.active {
            color: white;
        }
    }

    &__nav-left {
        position: relative;
        padding: 1rem 0;

        li {
            list-style-type: none;
            padding: 0 1.5rem;
            height: 48px;
            margin: 0;
            height: 100%;
            transition: $durationXL;

            .header__nav-link {
                height: 48px;
                display: inline-flex;
                align-items: center;
            }

        }
    }

    &__nav-right {
        padding: 1.5rem 0;
    }

    &__social-link {
        width: 42px;
        height: 42px;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: $durationM;

        &::before {
            opacity: 0;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transition: $durationM;
            border-radius: 1rem;
            transform: translate(-50%, -50%);
        }

        svg {
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 1;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }

}

.main {
    margin-top: 150px;

    background: $ptDarkGrey;
}

.hero {
    color: white;
    position: relative;


    &__big-container {
        width: 100%;
        height: calc(100vh - 150px + 170px + (167px / 2));
        padding-bottom: calc(167px / 2);
        max-height: 850px;

        .hero__item {
            animation: fade5 5s linear;
            // animation: 0.8s fadeOut 3s forwards, 0.5s fadeIn forwards;

            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: initial;
            opacity: 1;

            &:hover {
                transform: none;
            }

            &::before {
                opacity: 0;
            }

        }

        .hero {
            &__img {
                filter: brightness(0.7);
            }

            &__heading {
                font-size: 5rem;
                color: white;
                max-width: 580px;
                margin-top: 0.5rem;
            }

            &__item-data {
                display: flex;
                align-items: center;
            }

            &__item-time {
                font-size: $fontSizeH3;
                margin-right: 1rem;
            }

            &__author,
            &__category,
            &__comment {
                color: white;
                margin-right: 1rem;
                display: flex;
                align-items: center;

                span {
                    margin-left: 0.25rem;
                }
            }


            &__subheading {
                max-width: 500px;
                margin-top: 1rem;
                font-size: $fontSizeBodyS;
                -webkit-line-clamp: 4;
                color: white;
            }

            .main &__btn {
                margin-top: 2rem;
                display: flex;
            }
        }
    }



    &__item {
        height: 167px;
        padding: 0.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: grab;
        transition: $durationM;

        &::before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: $durationM;
        }

        &:hover {
            transform: translateY(-0.5rem);
        }
    }

    &__category,
    &__author,
    &__comment {
        display: none;
    }

    &__heading {
        font-size: $fontSizeBodyL;
        font-family: 'Anton', sans-serif;
    }

    &__item-data,
    &__heading,
    &__subheading,
    &__btn {
        z-index: 2;
        position: relative;
    }

    &__item-time {
        font-size: $fontSizeBodyXS;
    }

    &__subheading {
        font-size: $fontSizeBodyXSS;
        color: $ptGrey;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main &__btn {
        display: none;
    }

    &__carousel {
        width: 850px;
        max-width: 100%;
        position: absolute;
        bottom: calc(-167px / 2);
        right: 0;
        margin-left: auto;
    }


    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}

.left-column {
    max-width: 70%;
    flex: 0 0 70%
}

.right-column {
    max-width: 30%;
    flex: 0 0 30%;
    padding-top: 150px;
    padding-left: 3rem;
}

.under-slider {
    position: relative;


    &__decoration {
        position: absolute;
        left: 0;
        top: calc(-167px / 2);
        max-width: 460px;

        &::before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: $durationM;
        }

        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        margin-left: 250px;
        max-width: 100%;
        padding-top: 150px;
    }

    &__item-time {
        font-size: $fontSizeBodyS;
        margin-right: 1rem;
    }

    &__author,
    &__category,
    &__comment {
        color: white;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        font-size: $fontSizeBodyXS;

        span {
            margin-left: 0.25rem;
        }
    }

    &__heading {
        font-size: $fontSizeH1;
        margin-top: 0.5rem;
    }

    &__subheading {
        font-size: $fontSizeH2;
        line-height: 1.6;
        color: $ptRed;
    }


}

.heading-2 {
    font-size: $fontSizeH2;
    line-height: 1.5;
    display: block;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -15px;
        height: 5px;
        left: 0;
        width: 100px;
        background: $ptRed;
    }
}

.paragraph-2 {
    color: $ptGrey;
}

.standard-owl {
    &__item {
        position: relative;

        &--video,
        &--gallery {
            &::before {
                content: '';
                right: 0.5rem;
                top: calc(150px - 0.5rem - 1.5rem);
                background-image: url('../images/play.svg');
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                position: absolute;
            }
        }

        &--gallery {
            &::before {
                background-image: url('../images/gallery.svg');
            }

        }
    }

    &__img {
        height: 150px;
        max-height: 150px;
        object-fit: cover;
    }

    &__author,
    &__category,
    &__comment {
        color: $ptGrey;
        font-size: $fontSizeBodyXSS;
        margin-right: 1rem;

        svg {
            margin-right: 0.25rem;
        }

        svg path {
            fill: $ptGrey;
        }
    }

    &__item-time {
        font-size: $fontSizeBodyXS;
    }

    &__heading {
        font-size: $fontSizeBodyM;
    }

    &__subheading {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $ptGrey;
        font-size: $fontSizeBodyXS;
    }

    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
        top: 50%;
        transform: translateY(calc(-50% - 75px));
        padding: 0.75rem 0.45rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -1rem;
        position: absolute;
        transition: $durationM;

        span {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background: url('../images/next.svg');
            transform: rotateZ(180deg);
            z-index: 1;
            position: relative;
            color: transparent;
            width: 32px;
            height: 32px;
            display: block;
        }

        &::before {
            content: '';
            background: black;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            position: absolute;
        }

        &:focus {
            box-shadow: none;
            outline: none;
            border: none;
        }

        &:active {
            transform: translateY(calc(-50% - 75px)) scale(0.695);
        }
    }

    .owl-nav button.owl-next {
        left: initial;
        background: url('../images/next.svg');
        right: -1rem;

        span {
            transform: rotateZ(0);
        }

    }
}

.gallery {
    &__grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }

    &__item {
        positioN: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 150px;
        color: white;
        transition: $durationM;

        &::before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: $durationM;
            z-index: 1;
        }

        &:hover {
            text-decoration: none;
            color: white;
            transform: scale(1.1);
        }
    }

    &__img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    &__data {
        display: flex;
        font-size: $fontSizeBodyXS;
    }

    &__data,
    &__item-heading {
        z-index: 1;
        position: relative;
    }

    &__item-heading {
        margin-top: 0.25rem;
        font-size: $fontSizeBodyS;
    }
}

.categories {
    border-left: 7px solid black;
    padding-left: 3rem;

    &__heading {
        line-height: 0.8;
        font-size: $fontSizeH2;
    }

    &__heading-smaller {
        font-size: $fontSizeBodyS;
    }

    &__ul {
        padding-left: 0;
        margin-top: 1rem;
    }

    &__link {
        color: white;
        line-height: 3;
        transition: $durationM;

        &:hover {
            color: $ptRed;
            margin-left: 1rem;
            text-decoration: none;
        }
    }

}

.newsletter {
    &__container {
        background: $ptRed;
    }

    &__heading {
        line-height: 0.8;
        font-size: $fontSizeH2;
    }

    &__heading-smaller {
        font-size: $fontSizeBodyS;
    }

    &__input {
        height: 44px;
        display: flex;
        align-items: center;
        font-size: $fontSizeBodyXS;
        padding: 0 1rem;
        flex-grow: 10;
    }

    &__p {
        font-size: $fontSizeBodyXS;
    }

    &__small {
        font-size: $fontSizeBodyXSS;
    }

    .main &__btn {
        background: black;

        &:hover {
            transform: none;
        }
    }
}

.short-about {
    &__container {
        background: black;
    }

    &__title-container {
        margin-left: -45px;
    }

    &__img {
        max-width: 130px;
        height: 130px;
    }

    &__heading {
        line-height: 0.8;
        font-size: $fontSizeH2;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -25px;
            height: 5px;
            left: 0;
            width: 100px;
            background: $ptRed;
        }
    }

    &__heading-smaller {
        font-size: $fontSizeBodyS;
    }
}

.jews-database {
    &__container {
        background: black;
    }

    &__heading {
        line-height: 0.8;
        font-size: $fontSizeH2;
        position: relative;
    }

    &__heading-smaller {
        font-size: $fontSizeBodyS;
    }
}

.older-articles {
    &__item {
        margin: 3rem 0;
    }

    &__item-data,
    &__category,
    &__author,
    &__comment {
        color: $ptGrey;
        font-size: $fontSizeBodyXS;

        svg {
            margin-left: 1rem;
            margin-right: 0.25rem;

            path {
                fill: $ptGrey;
            }
        }
    }

    &__item-data {
        color: white;
    }
}

.banner-img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.popular-tags {
    a:hover {
        text-decoration: underline;
    }
}

@keyframes fade5 {
    0% {
        opacity: 0
    }

    10% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// .fadeOut {
//     animation: 0.7s fadeOut 4s;
// }

// .fadeIn {
//     animation: 1s fadeOut 4s forwards, 0.3s fadeIn forwards;
// }

@media (max-width:1400px) {
    .header {
        &__nav-right {
            padding: 0.5rem;
        }

        &.navbar .container-fluid {
            justify-content: space-around;
        }
    }
}


@media (max-width:1200px) {

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
        background: none;

        &.stop-scrolling {
            overflow: hidden;
            height: 100vh;
        }
    }

    .header {
        bottom: initial;
        top: 0;
        width: 100%;
        padding: 0;
        height: 70px;
        max-width: 100vw;
        left: 0;
        background: none;

        &.navbar .container-fluid {
            justify-content: space-between;
        }

        .container-fluid {
            margin-top: 0;
            padding: 0;
            min-height: initial;
            height: 60px;

            &.scrolled {
                background: white;

                .header__lang-all {
                    top: initial;
                    width: auto;

                    .container {
                        margin: 0;
                    }
                }
            }
        }


        &__logo {
            padding: 0;


            &-container {
                padding: 0.5rem 1rem;
                position: relative;
                z-index: 10;

                svg {
                    height: 40px;
                    width: auto;
                }
            }
        }

        &__search-form {
            padding: 0.5rem 2rem
        }

        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: black;
            transform: translate(0, -100%);
            transition-duration: $durationL;
            transition-timing-function: $bezierFastoutSlowin;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            width: 100%;
            opacity: 0;
            margin: 0;


            &--entered {
                transform: translateZ(0) translateY(0);
                opacity: 1;
            }

            &-left {
                width: 100%;
                padding: 0;

                li {
                    height: auto;
                }
            }

            &-right {
                text-align: center;
                width: 100vw;
                max-width: 150px;
                margin-top: 0;
                bottom: 20px;
                position: absolute;
                right: 0;
                flex-direction: column;
                align-items: flex-end;

            }

            &-upper {
                flex-direction: column;
                width: 100%;
                left: 0;
                top: 0;
                margin-top: 2rem;
            }

        }

        &__nav-list {
            transform: none;
            display: block;
            flex-direction: initial;
        }

        .magic-line {
            display: none;
        }

        &__nav-link {
            width: 100%;
            display: block;
            font-size: $fontSizeBodyL;
            padding: 16px;
            text-align: center;
            margin: 0;
        }

        .nav-toggle {
            display: flex;
            // background: $clern-lightGreen;
            margin-right: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 1rem;

            &__inner {
                width: 32px;
                height: 32px;
            }

            &--entered {
                .nav-toggle__icon--menu {
                    opacity: 0;
                    transform: translate(-10%, -50%);
                }

                .nav-toggle__icon--close {
                    opacity: 1;
                    transform: translate(-50%, -50%) rotate(0);
                }
            }
        }


    }

    .main {
        margin-top: 0px;
    }


    .hero {
        .container-fluid {
            padding: 0;
        }

        &__big-container {
            height: auto;
        }

        // padding-top: 100px;
        &__carousel {
            width: 100%;
            bottom: initial;
            position: initial;
            margin: auto;

            .owl-dots {
                position: absolute;
                width: 100%;
                bottom: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                .owl-dot {
                    background: white;
                    border: 1px solid black;
                    height: 22px;
                    width: 22px;
                    margin: 0.5rem;
                    border-radius: 50%;
                    position: relative;

                    &::after {
                        content: '';
                        height: 12px;
                        width: 12px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        opacity: 0;
                        transition: $durationM;
                        background: black;
                        border-radius: 50%;
                        z-index: 2;
                    }

                    &.active {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &__item {
            justify-content: initial;
            padding: 0;
            height: 80vh;
            max-height: 700px;
            padding: 100px 30px 50px 30px;

            &::before {
                z-index: 2;
            }
        }

        &__item-data {
            flex-direction: column;
            align-items: baseline;
            display: flex;
            align-items: baseline;

        }


        &__item-time {
            margin-right: auto;
            margin-bottom: 1rem;
            font-size: $fontSizeBodyL;
        }

        &__author,
        &__category,
        &__comment {
            color: white;
            margin-right: 1rem;
            display: flex;
            align-items: center;

            span {
                margin-left: 0.25rem;
            }
        }

        &__heading {
            margin-top: 1rem;
            font-size: 5rem;
        }

        &__subheading {
            max-width: 500px;
            margin-top: 1rem;
            font-size: $fontSizeBodyM;
            -webkit-line-clamp: 3;
            color: white;
        }

        .main &__btn {
            margin-top: 2rem;
            display: flex;
        }


    }

}

@media (max-width:992px) {
    .header {
        &__logo-container {
            align-items: center;

            svg {
                height: 30px;
            }
        }

        .nav-toggle {
            width: 32px;
            height: 32px;

            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
}

@media (max-width:480px) {
    .hero {
        &__item {
            height: 100vh;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__heading {
            font-size: $fontSizeH2;
        }

        &__subheading {
            font-size: $fontSizeBodyXS;
        }

        &__carousel .owl-dots {
            bottom: 40px;
        }
    }
}