@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('owl.carousel/dist/assets/owl.carousel.css');

@import 'predefinied.scss';

body {
    font-family: 'Kelson-Sans', sans-serif;
    background: black;
    // font-family: 'Anton', sans-serif;
}


.header {
    position: fixed;
    z-index: 1024;
    width: 100%;
    display: flex;
    top: 0;
    transition: 0.5s;
    font-family: 'Anton', sans-serif;
    background: black;
    color: white;

    .container-fluid {
        height: 135px;
        position: relative;
        background: transparent;
        border-radius: .0010px;
        transition: $durationM;

        &.scrolled {
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
            margin-top: 0.25rem;
            border-radius: 200px;
            background: white;
            padding: 0 0.75rem;


            .header__logo-container {
                margin-left: 1rem;
            }
        }
    }

    &__logo {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        z-index: 10;
        overflow: hidden;

        &-container {
            max-width: 100%;
            max-height: 100%;
            height: 100px;
            margin: 0;
            display: block;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 1rem 0;
        }
    }


    .nav-toggle {
        z-index: 1024;
        display: none;
        background: none;
        border: 0;
        outline: 0;
        height: 48px;
        align-items: center;

        background: $ptGrey;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: $durationM;
        // box-shadow: 4px 4px 8px $neuShadow1,
        //     -4px -4px 8px $neuShadow2;


        &:active {
            transform: scale(0.9);
        }

        svg {
            // color: $pirateBlack;
            transition: $bezierFastoutSlowin 0.5s;
            top: 50%;
            left: 50%;
            position: absolute;
            width: 28px;
            height: 28px;
            z-index: 1;


            path {
                // fill: $spaceColor;
                transition: $bezierFastoutSlowin 0.5s;
            }
        }

        &__inner {
            position: relative;
        }

        &__icon--menu {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &__icon--close {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    .magic-line {
        position: absolute;
        bottom: -15px;
        left: 0;
        padding: 0;
        width: 86.75px;
        height: 90px;
        background: $ptRed;
        transition: $durationM;
        opacity: 1;
        z-index: -1;
    }

    .button-icon-only {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &__nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__search {
        &-input {
            border: none;
            background: transparent;
            color: white;

            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                color: white;
                text-transform: uppercase;
            }

        }


        &-form {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.5rem 0;
        }
    }

    &__nav-list {
        display: flex;
    }

    &__nav-link {
        color: white;
        align-self: center;
        font-size: $fontSizeBodyL;
        text-decoration: none;
        position: relative;
        transition: color $durationS ease .1s;
        line-height: 1;
        border-radius: 0;
        letter-spacing: $spaceLetters;
        transition: $bezierFastoutSlowin 0.36s;
        text-transform: uppercase;

        &:active,
        &:hover {
            text-decoration: none;
            color: white;

            &:before {
                width: 100%;
            }
        }

        &.active {
            color: white;
        }
    }

    &__nav-left {
        position: relative;
        padding: 1rem 0;

        li {
            list-style-type: none;
            padding: 0 1.5rem;
            height: 48px;
            margin: 0;
            height: 100%;
            transition: $durationXL;

            .header__nav-link {
                height: 48px;
                display: inline-flex;
                align-items: center;
            }

        }
    }

    &__nav-right {
        padding: 1.5rem 0;
    }

    &__social-link {
        width: 42px;
        height: 42px;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: $durationM;

        &::before {
            opacity: 0;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transition: $durationM;
            border-radius: 1rem;
            transform: translate(-50%, -50%);
        }

        svg {
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 1;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }

}

.main {
    margin-top: 150px;
}

.hero {
    color: white;
    position: relative;


    &__big-container {
        width: 100%;
        height: calc(100vh - 150px + (167px / 2));
        // max-height: 600px;

        .hero__item {
            // animation: fade 5s linear;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: initial;
            opacity: 0;

            &:hover {
                transform: none;
            }

            &::before {
                opacity: 0;
            }

        }

        .hero {
            &__img {
                filter: brightness(0.7);
            }

            &__heading {
                font-size: 5rem;
                color: white;
                max-width: 580px;
                margin-top: 0.5rem;
            }

            &__item-data {
                display: flex;
                align-items: center;
            }

            &__item-time {
                font-size: $fontSizeH3;
                margin-right: 1rem;
            }

            &__author,
            &__category,
            &__comment {
                color: white;
                margin-right: 1rem;
                display: flex;
                align-items: center;

                span {
                    margin-left: 0.25rem;
                }
            }


            &__subheading {
                max-width: 500px;
                margin-top: 1rem;
                font-size: $fontSizeBodyS;
                -webkit-line-clamp: 4;
                color: white;
            }

            .main &__btn {
                margin-top: 2rem;
                display: flex;
            }
        }
    }



    &__item {
        height: 167px;
        padding: 0.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: pointer;
        transition: $durationM;

        &::before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: $durationM;
        }

        &:hover {
            transform: translateY(-0.5rem);
        }
    }

    &__category,
    &__author,
    &__comment {
        display: none;
    }

    &__heading {
        font-size: $fontSizeBodyL;
        font-family: 'Anton', sans-serif;
    }

    &__item-data,
    &__heading,
    &__subheading,
    &__btn {
        z-index: 2;
        position: relative;
    }

    &__item-time {
        font-size: $fontSizeBodyXS;
    }

    &__subheading {
        font-size: $fontSizeBodyXSS;
        color: $ptGrey;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main &__btn {
        display: none;
    }

    &__carousel {
        width: 850px;
        max-width: 100%;
        position: absolute;
        bottom: calc(-167px / 2);
        right: 0;
        margin-left: auto;
    }


    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}

@keyframes fade5 {
    0% {
        opacity: 0
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: 0.7s fadeOut 4s;
}

.fadeIn {
    animation: 0.7s fadeOut 4s, 0.3s fadeIn forwards;
}