@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("owl.carousel/dist/assets/owl.carousel.css");
@font-face {
  font-family: 'Anton';
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: 'Kelson-Sans';
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Kelson Sans Bold.otf");
}

@font-face {
  font-family: 'Kelson-Sans';
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Kelson Sans Regular.otf");
}

.font-grey {
  color: #747474;
}

.fontSizeH1 {
  font-size: 3.85rem;
}

.fontSizeH2 {
  font-size: 2rem;
}

.fontSizeH3 {
  font-size: 1.625rem;
}

.fontSizeBodyL {
  font-size: 1.25rem;
}

.fontSizeBodyM {
  font-size: 1.125rem !important;
}

.fontSizeBodyS {
  font-size: 1rem !important;
}

.fontSizeBodyXS {
  font-size: 0.8rem !important;
}

.fontSizeBodyXSS {
  font-size: 0.625rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Anton', sans-serif;
}

.container-fluid {
  max-width: 1540px;
  padding-left: 30px;
  padding-right: 30px;
}

.margin-100-top {
  margin-top: 6.5rem;
}

a {
  color: white;
  -webkit-transition: 400ms;
  transition: 400ms;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

a.hover-underline:hover .standard-owl__heading {
  text-decoration: underline;
}

.main .btn {
  width: 113px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e20a0a;
  color: white;
  border-radius: 0;
  position: relative;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.main .btn::after {
  height: 3px;
  width: 33px;
  background: white;
  content: '';
  margin-left: 0.5rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.main .btn:hover {
  color: white;
}

.main .btn:hover::after {
  width: 16.5px;
}

.main .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 75px));
          transform: translateY(calc(-50% - 75px));
  padding: 0.75rem 0.45rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -1rem;
  position: absolute;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background: url("../images/next.svg");
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  z-index: 1;
  position: relative;
  color: transparent;
  width: 32px;
  height: 32px;
  display: block;
}

.owl-carousel .owl-nav button.owl-prev::before,
.owl-carousel .owl-nav button.owl-next::before {
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

.owl-carousel .owl-nav button.owl-prev:active,
.owl-carousel .owl-nav button.owl-next:active {
  -webkit-transform: translateY(calc(-50% - 75px)) scale(0.695);
          transform: translateY(calc(-50% - 75px)) scale(0.695);
}

.owl-carousel .owl-nav button.owl-next {
  left: initial;
  background: url("../images/next.svg");
  right: -1rem;
}

.owl-carousel .owl-nav button.owl-next span {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

.columns-2 {
  -webkit-columns: 2;
          columns: 2;
}

.data__author, .data__category, .data__comment {
  color: white;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.data__author span, .data__category span, .data__comment span {
  margin-left: 0.25rem;
}

.data__author:hover span, .data__category:hover span, .data__comment:hover span {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .columns-2 {
    -webkit-columns: 1;
            columns: 1;
  }
}

body {
  font-family: 'Kelson-Sans', sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 1024;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Anton', sans-serif;
  background: black;
  color: white;
}

.header .container-fluid {
  height: 135px;
  position: relative;
  background: transparent;
  border-radius: .0010px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.header .container-fluid.scrolled {
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  margin-top: 0.25rem;
  border-radius: 200px;
  background: white;
  padding: 0 0.75rem;
}

.header .container-fluid.scrolled .header__logo-container {
  margin-left: 1rem;
}

.header__logo {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.header__logo-container {
  max-width: 100%;
  max-height: 100%;
  height: 100px;
  margin: 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem 0;
  padding-right: 3rem;
}

.header .nav-toggle {
  z-index: 1024;
  display: none;
  background: none;
  border: 0;
  outline: 0;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.header .nav-toggle:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header .nav-toggle svg {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 28px;
  height: 28px;
  z-index: 1;
}

.header .nav-toggle svg path {
  fill: white;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.header .nav-toggle__inner {
  position: relative;
}

.header .nav-toggle__icon--menu {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .nav-toggle__icon--close {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header .magic-line {
  position: absolute;
  bottom: -15px;
  left: 0;
  padding: 0;
  width: 86.75px;
  height: 90px;
  background: #e20a0a;
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 1;
  z-index: -1;
}

.header .button-icon-only {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search-input {
  border: none;
  background: transparent;
  color: white;
  font-size: 0.8rem;
  font-family: 'Kelson-Sans', sans-serif;
  padding-bottom: 0;
  line-height: 0.9;
}

.header__search-input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__search-input::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
}

.header__search-input:-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
}

.header__search-input::-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
}

.header__search-input::placeholder {
  color: white;
  text-transform: uppercase;
}

.header__search-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-link {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 300ms ease 0.1s;
  transition: color 300ms ease 0.1s;
  line-height: 1;
  border-radius: 0;
  letter-spacing: 0.45px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.36s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.36s;
  text-transform: uppercase;
}

.header__nav-link:active, .header__nav-link:hover {
  text-decoration: none;
  color: white;
}

.header__nav-link:active:before, .header__nav-link:hover:before {
  width: 100%;
}

.header__nav-link.active {
  color: white;
}

.header__nav-left {
  position: relative;
  padding: 1rem 0;
}

.header__nav-left li {
  list-style-type: none;
  padding: 0 1.5rem;
  height: 48px;
  margin: 0;
  height: 100%;
  -webkit-transition: 800ms;
  transition: 800ms;
}

.header__nav-left li .header__nav-link {
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-right {
  padding: 1.5rem 0;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__social-link {
  width: 42px;
  height: 42px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.header__social-link svg {
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 1;
}

.header__social-link svg path {
  fill: white;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.header__social-link:hover svg path {
  fill: #e20a0a;
}

.header__social-link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main {
  margin-top: 150px;
  background: #1a1a1a;
}

.main__content {
  margin-top: calc(167px / 2);
}

.hero {
  color: white;
  position: relative;
}

.hero__big-container {
  width: 100%;
  height: calc(100vh - 150px + 170px + (167px / 2));
  padding-bottom: calc(167px / 2);
  max-height: 850px;
}

.hero__big-container::before {
  content: '';
  background-image: url("../images/bars.svg");
  background-repeat: no-repeat;
  background-position: 60px 0px;
  right: 0;
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  z-index: 3;
}

.hero__big-container .hero__item {
  -webkit-animation: fade5 5s linear;
          animation: fade5 5s linear;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: initial;
  opacity: 1;
}

.hero__big-container .hero__item .hero__btn {
  margin-bottom: 0;
}

.hero__big-container .hero__item:hover {
  -webkit-transform: none;
          transform: none;
}

.hero__big-container .hero__item::before {
  opacity: 1;
  z-index: 2;
}

.hero__big-container .hero__item .data__author, .hero__big-container .hero__item .data__category, .hero__big-container .hero__item .data__comment {
  color: white;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__big-container .hero__item .data__author span, .hero__big-container .hero__item .data__category span, .hero__big-container .hero__item .data__comment span {
  margin-left: 0.25rem;
}

.hero__big-container .hero__item .data__author:hover span, .hero__big-container .hero__item .data__category:hover span, .hero__big-container .hero__item .data__comment:hover span {
  text-decoration: underline;
}

.hero__big-container .hero__img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  z-index: 1;
}

.hero__big-container .hero__heading {
  font-size: 5rem;
  color: white;
  max-width: 580px;
  margin-top: 0.5rem;
}

.hero__big-container .hero__item-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__big-container .hero__item-time {
  font-size: 1.625rem;
  margin-right: 1rem;
}

.hero__big-container .hero__subheading {
  max-width: 500px;
  margin-top: 1rem;
  font-size: 1rem;
  -webkit-line-clamp: 4;
  color: white;
}

.main .hero__big-container .hero__btn {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  height: 167px;
  padding: 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.hero__item::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.88)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.hero__item:hover .hero__btn {
  margin-bottom: 0;
}

.hero .data__category, .hero .data__author, .hero .data__comment {
  display: none;
}

.hero__heading {
  font-size: 1.25rem;
  font-family: 'Anton', sans-serif;
}

.hero__item-data, .hero__heading, .hero__subheading, .hero__btn {
  z-index: 2;
  position: relative;
}

.hero__item-time {
  font-size: 0.8rem;
}

.hero__subheading {
  font-size: 0.625rem;
  color: #747474;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .hero__btn {
  margin-bottom: -45px;
}

.hero__carousel {
  width: 850px;
  max-width: 100%;
  position: absolute;
  bottom: calc(-167px / 2);
  right: 0;
  margin-left: auto;
  z-index: 4;
}

.hero__carousel .owl-item.center {
  display: none;
}

.hero__carousel .owl-nav button.owl-prev,
.hero__carousel .owl-nav button.owl-next {
  top: 50%;
  -webkit-transform: translateY(calc(-50%));
          transform: translateY(calc(-50%));
}

.hero__carousel .owl-nav button.owl-prev:active,
.hero__carousel .owl-nav button.owl-next:active {
  -webkit-transform: translateY(calc(-50%)) scale(0.695);
          transform: translateY(calc(-50%)) scale(0.695);
}

.hero__carousel .owl-nav button.owl-prev {
  left: -2rem;
}

.hero__carousel .owl-nav button.owl-next {
  right: -2rem;
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.left-column {
  max-width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.right-column {
  max-width: 30%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding-top: calc(150px - 167px/2);
  padding-left: 5rem;
}

.under-slider {
  position: relative;
}

.under-slider__decoration {
  position: absolute;
  left: 0;
  top: calc(-167px / 2);
  max-width: 460px;
  -webkit-transform: translateY(calc(-167px / 2));
          transform: translateY(calc(-167px / 2));
  z-index: 5;
}

.under-slider__decoration::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.88)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.under-slider__decoration::after {
  content: '';
  background-image: url("../images/bars.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: -260px;
  position: absolute;
  top: 115px;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.under-slider__decoration-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.under-slider__content {
  position: relative;
  z-index: 2;
  margin-left: 250px;
  max-width: 100%;
  padding-top: calc(150px - 167px/2);
  z-index: 6;
}

.under-slider__item-time {
  font-size: 1rem;
  margin-right: 1rem;
}

.under-slider__heading {
  font-size: 3.85rem;
  margin-top: 0.5rem;
}

.under-slider__subheading {
  font-size: 2rem;
  line-height: 1.6;
  color: #e20a0a;
}

.heading-2 {
  font-size: 2rem;
  line-height: 1.5;
  display: block;
  position: relative;
}

.heading-2::before {
  content: '';
  position: absolute;
  bottom: -15px;
  height: 5px;
  left: 0;
  width: 100px;
  background: #e20a0a;
}

.paragraph-2 {
  color: #747474;
}

.standard-owl__item {
  position: relative;
}

.standard-owl__item--video::before, .standard-owl__item--gallery::before {
  content: '';
  right: 0.5rem;
  top: calc(150px - 0.5rem - 1.5rem);
  background-image: url("../images/play.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
}

.standard-owl__item--gallery::before {
  background-image: url("../images/gallery.svg");
}

.standard-owl__item a:hover ~ a.hover-underline .standard-owl__heading {
  text-decoration: underline;
}

.standard-owl__img {
  height: 150px;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.standard-owl__author, .standard-owl__category, .standard-owl__comment {
  color: #747474;
  font-size: 0.625rem;
  margin-right: 1rem;
}

.standard-owl__author svg, .standard-owl__category svg, .standard-owl__comment svg {
  margin-right: 0.25rem;
}

.standard-owl__author svg path, .standard-owl__category svg path, .standard-owl__comment svg path {
  fill: #747474;
}

.standard-owl__item-time {
  font-size: 0.8rem;
}

.standard-owl__heading {
  font-size: 1.125rem;
}

.standard-owl__subheading {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #747474;
  font-size: 0.8rem;
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.gallery__item {
  positioN: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 150px;
  color: white;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.gallery__item::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.88)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 400ms;
  transition: 400ms;
  z-index: 1;
}

.gallery__item:hover {
  text-decoration: none;
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.gallery__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
}

.gallery__data, .gallery__item-heading {
  z-index: 1;
  position: relative;
}

.gallery__item-heading {
  margin-top: 0.25rem;
  font-size: 1rem;
}

.categories {
  border-left: 7px solid black;
  padding-left: 3rem;
}

.categories__heading {
  line-height: 0.8;
  font-size: 2rem;
}

.categories__heading-smaller {
  font-size: 1rem;
}

.categories__ul {
  padding-left: 0;
  margin-top: 1rem;
  list-style-type: none;
}

.categories__link {
  color: white;
  line-height: 3;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.categories__link:hover {
  color: #e20a0a;
  margin-left: 1rem;
  text-decoration: none;
}

.newsletter__container {
  background: #e20a0a;
}

.newsletter__heading {
  line-height: 0.8;
  font-size: 2rem;
}

.newsletter__heading-smaller {
  font-size: 1rem;
}

.newsletter__input {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding: 0 1rem;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 0.9;
}

.newsletter__input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.newsletter__p {
  font-size: 0.8rem;
}

.newsletter__small {
  font-size: 0.625rem;
}

.main .newsletter__btn {
  background: black;
}

.main .newsletter__btn:hover {
  -webkit-transform: none;
          transform: none;
}

.short-about__container {
  background: black;
}

.short-about__title-container {
  margin-left: -45px;
}

.short-about__img {
  max-width: 130px;
  height: 130px;
}

.short-about__heading {
  line-height: 0.8;
  font-size: 2rem;
  position: relative;
}

.short-about__heading::before {
  content: '';
  position: absolute;
  bottom: -25px;
  height: 5px;
  left: 0;
  width: 100px;
  background: #e20a0a;
}

.short-about__heading-smaller {
  font-size: 1rem;
}

.jews-database__container {
  background: black;
}

.jews-database__heading {
  line-height: 0.8;
  font-size: 2rem;
  position: relative;
}

.jews-database__heading-smaller {
  font-size: 1rem;
}

.older-articles__item {
  margin: 3rem 0;
}

.older-articles__item-data, .older-articles__category, .older-articles__author, .older-articles__comment {
  color: #747474;
  font-size: 0.8rem;
}

.older-articles__item-data svg, .older-articles__category svg, .older-articles__author svg, .older-articles__comment svg {
  margin-left: 1rem;
  margin-right: 0.25rem;
}

.older-articles__item-data svg path, .older-articles__category svg path, .older-articles__author svg path, .older-articles__comment svg path {
  fill: #747474;
}

.older-articles__link:hover {
  color: #e20a0a;
}

.older-articles__item-data {
  color: white;
}

.banner-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

.popular-tags a:hover {
  text-decoration: underline;
}

.interviews {
  width: 100%;
}

.interviews__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(255px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.interviews__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.5rem;
}

.interviews__img-container:hover ~ .interviews__content .interviews__name {
  text-decoration: underline;
}

.interviews__img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interviews__item-time {
  font-size: 0.8rem;
}

.interviews__name {
  font-size: 1.125rem;
  font-family: 'Anton', sans-serif;
  display: block;
}

.interviews__name:hover {
  text-decoration: underline;
}

.quote {
  width: 100%;
  max-width: calc(1540px);
  margin: auto;
  height: 270px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote::before {
  content: '';
  background: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.quote__background {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote figure {
  z-index: 1;
  position: relative;
  margin: auto;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
}

.quote figcaption {
  font-size: 1.625rem;
}

.footer {
  background: black;
}

.footer__list {
  max-width: 750px;
  list-style-type: none;
}

.footer__nav-link {
  font-size: 0.8rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.footer__nav-link:hover {
  color: #e20a0a;
}

.footer__nav-li {
  padding: 0.5rem 1rem;
}

@-webkit-keyframes fade5 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade5 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .header__nav-right {
    padding: 0.5rem 0;
  }
  .header__logo-container {
    padding-right: 1.3rem;
  }
  .header.navbar .container-fluid {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .under-slider__decoration {
    left: -10%;
    top: -1.5rem;
  }
  .under-slider__decoration::after {
    left: -210px;
  }
  .short-about__title-container {
    margin-left: -70px;
  }
  .newsletter__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .older-articles__item-data > div {
    text-align: left;
    display: block !important;
  }
  .older-articles__item-time {
    display: block;
  }
  .older-articles__author svg {
    margin-left: 0;
  }
  .interviews__content > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interviews .data__category {
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 1340px) {
  .under-slider__decoration {
    left: -10%;
    top: calc(167px / 2 + 2rem);
  }
}

@media (max-width: 1200px) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    background: none;
  }
  html.stop-scrolling,
  body.stop-scrolling {
    overflow: hidden;
  }
  .header {
    bottom: initial;
    top: 0;
    width: 100%;
    padding: 0;
    height: 70px;
    max-width: 100vw;
    left: 0;
  }
  .header.navbar .container-fluid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .container-fluid {
    margin-top: 0;
    padding: 0;
    min-height: initial;
    height: 60px;
  }
  .header .container-fluid.scrolled {
    background: white;
  }
  .header .container-fluid.scrolled .header__lang-all {
    top: initial;
    width: auto;
  }
  .header .container-fluid.scrolled .header__lang-all .container {
    margin: 0;
  }
  .header__logo {
    padding: 0;
  }
  .header__logo-container {
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 10;
  }
  .header__logo-container svg {
    height: 40px;
    width: auto;
  }
  .header__search-form {
    padding: 0.5rem 2rem;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition-duration: 600ms;
            transition-duration: 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    width: 100%;
    opacity: 0;
    margin: 0;
  }
  .header__nav--entered {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  .header__nav-left {
    width: 100%;
    padding: 0;
  }
  .header__nav-left li {
    height: auto;
  }
  .header__nav-right {
    display: none;
    text-align: center;
    width: 100vw;
    max-width: 150px;
    margin-top: 0;
    bottom: 20px;
    position: absolute;
    right: 50%;
    width: auto;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__nav-upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .header__nav-list {
    -webkit-transform: none;
            transform: none;
    display: block;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .header .magic-line {
    display: none;
  }
  .header__nav-link {
    width: 100%;
    display: block !important;
    font-size: 1.25rem;
    padding: 16px;
    text-align: center;
    margin: 0;
  }
  .header .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .header .nav-toggle__inner {
    width: 32px;
    height: 32px;
  }
  .header .nav-toggle--entered .nav-toggle__icon--menu {
    opacity: 0;
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
  .header .nav-toggle--entered .nav-toggle__icon--close {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  .main {
    margin-top: 0px;
  }
  .hero .container-fluid {
    padding: 0;
  }
  .hero__big-container {
    height: auto;
    padding: 0;
  }
  .hero .data__author, .hero .data__category, .hero .data__comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__carousel {
    width: 100%;
    bottom: initial;
    position: initial;
    margin: auto;
  }
  .hero__carousel .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__carousel .owl-dots .owl-dot {
    background: white;
    border: 1px solid black;
    height: 22px;
    width: 22px;
    margin: 0.5rem;
    border-radius: 50%;
    position: relative;
  }
  .hero__carousel .owl-dots .owl-dot::after {
    content: '';
    height: 12px;
    width: 12px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    -webkit-transition: 400ms;
    transition: 400ms;
    background: black;
    border-radius: 50%;
    z-index: 2;
  }
  .hero__carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
  }
  .hero__item {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding: 0;
    height: 80vh;
    max-height: 700px;
    padding: 100px 30px 50px 30px;
  }
  .hero__item::before {
    z-index: 2;
  }
  .hero__item-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: baseline;
  }
  .hero__item-time {
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .hero__author, .hero__category, .hero__comment {
    color: white;
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__author span, .hero__category span, .hero__comment span {
    margin-left: 0.25rem;
  }
  .hero__heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .hero__subheading {
    max-width: 500px;
    margin-top: 1rem;
    font-size: 1.125rem;
    -webkit-line-clamp: 3;
    color: white;
  }
  .main .hero__btn {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 992px) {
  .header__logo-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo-container svg {
    height: 30px;
  }
  .header .nav-toggle {
    width: 32px;
    height: 32px;
  }
  .header .nav-toggle svg {
    width: 22px;
    height: 22px;
  }
  .hero__big-container {
    display: none;
  }
  .column-toggle {
    top: 70px;
    right: 0;
    position: fixed;
    z-index: 2048;
    height: calc(32px + 1rem);
    width: calc(32px + 2rem);
    background: none;
    border: 0;
    outline: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #e20a0a;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    -webkit-transition: 400ms;
    transition: 400ms;
    z-index: 11;
  }
  .column-toggle:focus, .column-toggle:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    border: none;
  }
  .column-toggle svg {
    -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 18px;
    height: 18px;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  .column-toggle svg path {
    fill: white;
    -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  }
  .column-toggle.header-hidden {
    top: 1.25rem;
  }
  .column-toggle.open svg {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .column-toggle__inner {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .column-toggle__icon--menu {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .column-toggle__icon--close {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .newsletter__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .categories {
    padding-left: 0;
  }
  .left-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .right-column {
    top: 0;
    position: fixed;
    right: -100%;
    width: 100%;
    max-width: 460px;
    background: black;
    z-index: 10;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: 400ms;
    transition: 400ms;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: calc(150px - 167px/2 + 2rem);
  }
  .right-column.open {
    right: 0;
  }
  .right-column.open::before {
    left: 0;
  }
  .right-column::before {
    width: calc(100% - 440px);
    left: 150%;
    top: 0;
    position: fixed;
    content: '';
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    z-index: 9;
    -webkit-transition: 400ms;
    transition: 400ms;
  }
  .footer__nav-li {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .under-slider__decoration {
    width: 100%;
    position: initial;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .under-slider__decoration::after {
    left: -200px;
    top: 35px;
  }
  .under-slider__content {
    margin-left: 0;
    padding-top: 0;
    margin-top: -3.25rem;
  }
}

@media (max-width: 480px) {
  .hero__item {
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero__heading {
    font-size: 2rem;
  }
  .hero__subheading {
    font-size: 0.8rem;
  }
  .hero__carousel .owl-dots {
    bottom: 40px;
  }
  .right-column {
    padding: 75px 1rem;
  }
  .short-about__title-container {
    margin-left: 0;
  }
  .under-slider .hero__item-data > div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .under-slider__item-time {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 0.5rem;
  }
  .under-slider__heading {
    font-size: 2rem;
  }
  .under-slider__subheading {
    line-height: 1.5;
    font-size: 1.625rem;
  }
  .standard-owl {
    margin-right: -1rem;
    width: calc(100% + 1rem);
  }
  .standard-owl .owl-stage {
    margin-left: -40px;
  }
  .standard-owl.owl-carousel .owl-nav button.owl-prev {
    left: -1rem;
    transforM: translateY(calc(-50% - 85px));
  }
  .standard-owl.owl-carousel .owl-nav button.owl-next {
    right: -0.5rem;
    -webkit-transform: translateY(calc(-50% - 85px));
            transform: translateY(calc(-50% - 85px));
  }
}
/*# sourceMappingURL=style.css.map */